<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="public/styles.css" />
    <title>Delete-Book-details</title>
  </head>
  <body>
    <div class="container my-5">
      <div class="p-5 pt-0 text-center bg-body-tertiary rounded-3">
        <img
          src="public/bookshelf-svgrepo-com.svg"
          alt="logo"
          class="mt-4 mb-3"
          width="150"
          height="150"
        />
        <h1 class="text-body-emphasis mb-3">
          BookPurge: Clear Your Literary Archives
        </h1>

        <form action="/deleteBook" method="POST">
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="floatingInput"
              placeholder="Book Name"
              value="<%=book_data.bname%>"
            />
            <label for="floatingInput">Book Name</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="floatingPassword"
              placeholder="Author"
              value="<%=book_data.author%>"
            />
            <label for="floatingPassword">Author</label>
          </div>
          <div class="form-floating mb-3">
            <input
              name="isbn"
              type="text"
              class="form-control"
              id="floatingInput"
              placeholder="ISBN"
              value="<%=book_data.isbn%>"
            />
            <label for="floatingInput">ISBN</label>
          </div>
          <div class="d-flex justify-content-end AddBookButton">
            <button type="submit" class="btn btn-outline-warning">
              Confirm Delete
            </button>
          </div>
        </form>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
